Debug/
screenshots/
*.sdf
*.suo
.DS_Store
*.db
Release/
Debug_static/
Static_Release/
*Debug*/
*Release*/
*.plg
doc_src/
*.user
doc/
docs/
*.opendb
.vs
Binaries
Intermediate
Saved
*.VC.db
ue4_qrcode.sln